*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    width: 80%;
    margin: auto; 
}

main,
section{
      margin: 30px 0;  
}

header{
      background-color: rgb(236, 233, 233);
      width: 100%;
      height: 100px;
      position: relative;
}

#logo{
    height: 50px;
    position: absolute;
    top: 0px;
}

.navigation-menu li{
    display: inline-block;
}

.navigation-menu a{
    display: inline-block;
    text-decoration: none;
}

nav{
    position: absolute;
    bottom: 0px;
}

.section-1{
    width: 100%;
    height: 400px;
    background-image:url("../Images/banner.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
}

.blue{
    background-color: rgb(236, 233, 233);
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h2,
h4{
    margin: 5px 0;
}

.c-acqua1{
    width: 100%;
    float: none;
    background-color:rgb(236, 233, 233) ;
}

.c-acqua2{
    width: 20%;
    float: left;
    background-color: aqua;
    margin-top: 30px;
    margin-bottom: 30px;
}

.c-acqua2 img{
    width: 100%;
}

.c-acqua3{
    width: calc( 60% - 60px );
    background-color: aqua;
    float: left;
    margin: 30px;
}

.c-acqua3 img{
    width: 100%;
    height: 200px;
    background-size: cover;
}

footer{
    background-color: rgb(236, 233, 233);
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}